.container
    display: grid
    grid-template-columns: repeat(2,1fr)
    column-gap:  50px
    row-gap:  50px
    align-content : center
    padding: 0 80px 

.box
    display: grid
    place-items: center


.box ul
    display: block 
    margin-top: 40px   

.box img
    max-width: 100%
    height: 400px
    object-fit: contain
    margin-top: 20px

.category-title
    margin-top: 80px
    text-align: center
    font-size: 32px