@import './styles/buttons.sass'
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    margin-block: 0
    font-family: Oswald

// 
// Стили для повторяющихся элементов
// 

// Заголовки

h3
    font-size: 26px
    margin-block: 0


// Списки single-product и cart-item

.descr-list
    padding-inline-start: 0
    margin-block: 0
    margin: 0
    margin-top: 30px
    font-size: 20px
    list-style-type: none

.descr-list li
    margin: 10px 0


// Ссылки

.link
    text-decoration: none
    color: black
    width: 100%

