.cart-item_descr
    margin-left: 30px
    width: 100%

.cart-item
    display: flex
    justify-content: flex-start
    min-height: 300px
    width: 100%
    margin-top: 40px
    border: 2px solid silver
    border-radius: 5px
    padding: 10px

.cart-item img
    height: 300px

.cart-item span 
    font-size: 20px
    font-weight: 600

.btn-wrapper
    display: flex
    justify-content: space-between
    width: 280px

.btn-wrapper p
    font-size: 20px
    display: inline
    line-height: 40px
    width: 16px
    text-align: center

.cart_btns
    display: flex
    justify-content: space-between
    padding-top: 20px
